body, html {
  height: 100%;
	width: 100%;
}

.Front-Hibiki {
	height: 100%;

  filter: blur(3px) brightness(50%);
}

.Front-Text {
	position: absolute;
	top: 12px;
	right: 10px;

	padding-top: 5px;
	padding-right: 30px;


	word-spacing: 15px;
}

.Front-Text a {
	text-decoration: none;
	color: white;
	font-size: 22px;

	font-family: Arial, Helvetica, sans-serif;
}

.Front-Text a:hover {
	text-decoration: underline;
}
