body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.Front-Hibiki {
position: relative;
color: white;
text-align: center;
}

.Front-Text {
	position: absolute;
	top: 12px;
	left: auto;
	right: 15px;

	color: red;
	background-color: transparent;

	word-spacing: 10px;
}

.Front-Text a {
	text-decoration: none;
	color: gray;
	font-size: 22px;
}

.Front-Text a:hover {
	text-decoration: underline;
}
